<%- include("../../partials/head.ejs") %>
</head>
<body>
    <%- include("../../partials/alert.ejs") %>
    <%- include("../../partials/header.ejs") %>
        <section id="admin-intro">
            <div class="breadcrumb">
                <h1>OUR BLOG</h1>
                <p><span>HOME</span> / BLOG</p>
            </div>
        </section>
    </header>
    <!-- create a new blog -->
    <section id="our-blog" class="blogs">
        <div class="container-sm">
            <div class="sm-heading">
                <span>BLOG</span>
            </div>
            <div class="blog-heading">
                <h2>SHOW ALL BLOGS</h2>
                <a href="/blog/create#create-blog"><button><i class="bi bi-plus-lg"></i> Create New</button></a>
            </div>
            <div class="show-blog">
                <div class="container-sm">
                    <div class="full-row">
                        <div class="single-blog">
                            <div class="blog-img">
                                <img src="/images/blog-1.jpeg" alt="blog-1">
                            </div>
                            <div class="blog-des">
                                <small>
                                    <span>By:</span>
                                    <span class="name">Minhaz,</span>
                                    <span class="date">
                                        <%= new Date().getDate() + "/" + new Date().getMonth() + "/" + new Date().getFullYear() %> 
                                    </span>
                                </small>
                                <h3><a href="/">Ideal Cocktails From Our Barmen For Perfect Mood</a></h3>
                                <a href="/">READ MORE <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-img">
                                <img src="/images/blog-2.jpeg" alt="blog-1">
                            </div>
                            <div class="blog-des">
                                <small>
                                    <span>By:</span>
                                    <span class="name">Minhaz,</span>
                                    <span class="date">
                                        <%= new Date().getDate() + "/" + new Date().getMonth() + "/" + new Date().getFullYear() %> 
                                    </span>
                                </small>
                                <h3><a href="/">Ideal Cocktails From Our Barmen For Perfect Mood</a></h3>
                                <a href="/">READ MORE <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-img">
                                <img src="/images/blog-3.jpeg" alt="blog-1">
                            </div>
                            <div class="blog-des">
                                <small>
                                    <span>By:</span>
                                    <span class="name">Minhaz,</span>
                                    <span class="date">
                                        <%= new Date().getDate() + "/" + new Date().getMonth() + "/" + new Date().getFullYear() %> 
                                    </span>
                                </small>
                                <h3><a href="/">Ideal Cocktails From Our Barmen For Perfect Mood</a></h3>
                                <a href="/">READ MORE <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("../../partials/footer.ejs") %>
</body>
</html>