<%- include("../../partials/head.ejs") %>
</head>
<body>
    <%- include("../../partials/alert.ejs") %>
    <%- include("../../partials/header.ejs") %>
        <section id="single-blog">
            <div class="wrapper-sec">
                <div class="main-blog-sec">
                    <% if(singleBlog) { %>
                        <div class="heading">
                            <div>
                                <h2><%= singleBlog.title %></h2>
                                <p>By - <%= singleBlog.author.username %>, At: <%= singleBlog.createdAt.toLocaleDateString() %></p>
                            </div>
                            <% if(allBookmarks) { %>
                                <% let found = allBookmarks.bookmarks.some((bookmark) => { %>
                                    <% return String(bookmark) == String(singleBlog._id) %> 
                                <% }) %>     

                                <% if (!found) { %>
                                    <div title="Add to bookmarks" class="bookmark" data-post="<%= singleBlog._id %>"><i class="bi bi-bookmark"></i></div>
                                <% } else { %> 
                                    <div title="Remove from bookmarks" class="bookmark" data-post="<%= singleBlog._id %>"><i class="bi bi-bookmark-fill"></i></div>
                                <% } %>  
                            <% } %> 
                        </div>
                        <div class="image-section">
                            <img src="/uploads/<%= singleBlog.thumbnail %>" alt="blog-img">
                        </div>
                        <div class="body">
                            <p><%- singleBlog.body %></p>
                        </div>
                        <div class="like-dislike-sec">
                            <button id="likeBtn" title="Like" data-react="<%= singleBlog._id %>"><i class="bi bi-hand-thumbs-up"></i> (0)</button>
                            <button id="dislikeBtn" title="Dislike" data-react="<%= singleBlog._id %>"><i class="bi bi-hand-thumbs-down"></i> (0)</button>
                        </div>
                        <div class="comment-section">
                            <h2>Leave a comment</h2>
                            <div class="send-comment-box">
                                <% if(user) { %> 
                                    <div class="img-data">
                                        <img src="<%= user.profilePics %>" alt="profile-pic">
                                        <form action="/blog">
                                            <input title="Press enter to submit" type="text" name="comment" placeholder="Enter your comment">
                                        </form>
                                    </div>
                                <% } %> 
                                <div class="comments" id="comment">
                                    <div id="comment-holder">
                                        <div class="user">
                                            <img src="<%= (user) ? user.profilePics: "" %>" alt="profile">
                                            <div class="name-date">
                                                <span><%= (user) ? user.username : "" %></span>
                                                <span><%= (user) ? user.createdAt.toLocaleDateString() : "" %></span>
                                            </div>
                                        </div>
                                        <p class="comment-body">Most stupid blog I read in my entire life.</p>
                                    </div>                                   
                                    <div class="replies">
                                        <div class="reply" id="reply">
                                            <div class="replied">
                                                <img src="<%= (user) ? user.profilePics : "" %>" alt="profile">
                                                <div class="name-date">
                                                    <span><%= (user) ? user.username : "" %></span>
                                                    <span><%= (user) ? (user.createdAt).toLocaleDateString() : "" %></span>
                                                </div>
                                            </div>
                                            <p>Then go just die. You stupid moron.</p>
                                        </div>
                                        <% if(user) { %>
                                            <div class="reply-box">
                                                <img src="<%= (user) ? user.profilePics : "" %>" alt="profile-picture">
                                                <form action="/">
                                                    <input type="text" placeholder="Enter reply">
                                                </form>
                                            </div>
                                        <% } else { %>
                                            <p style="color: whitesmoke;"><a href="/auth/login">Login</a> first for comment & reply</p>
                                        <% } %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } else { %> 
                        <p style="color: whitesmoke;">Something went wrong...</p>
                    <% } %> 
                </div>
            </div> 
        </section>
    </header>

    <%- include("../../partials/footer.ejs") %>
    <!-- <script src="/scripts/likeDislike.js"></script> -->
    <!-- <script src="/scripts/bookmark.js"></script> -->
    <script src="/scripts/singlePage.js"></script>
</body>
</html>