<%- include("../../partials/head.ejs") %>
</head>
<body>
        <%- include("../../partials/alert.ejs") %>
        <%- include("../../partials/header.ejs") %>
        <section id="admin-intro">
            <div class="breadcrumb">
                <h1>ADMIN DASHBOARD</h1>
                <p><span>HOME</span> / DASHBOARD / SUBSCRIPTION</p>
            </div>
        </section>
    </header>
    <section id="all-subscribed-mail">
        <div class="sm-heading">
            <span>SUBSCRIPTION</span>
            <h1>SUBSCRIBED MAIL</h1>
        </div> 
        <div class="container-sm">
            <div class="full-row">
                <div class="table-holder">
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Email</th>
                            <th>Subscribe time</th>
                            <th>Status</th>
                        </tr>
                        <% if(subscribedMail) { %> 
                            <% let i = 0 %> 
                            <% subscribedMail.forEach((mail) => { %> 
                                <% i++ %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= mail.subEmail %></td>  
                                    <td><%= (mail.createdAt) %></td>
                                    <td id="mail-status">
                                        <a href="mailto:<%= mail.subEmail %>"><span>Compose</span></a>
                                        <a href="/dashboard/deleteMail/<%= mail._id %>"><span>Delete</span></a>
                                    </td>
                                </tr>
                            <% }) %> 
                        <% } else { %>
                            <tr>
                                No subscribed mail found
                            </tr>
                        <% } %>  
                    </table>
                </div>
            </div>
        </div>
    </section>
    <%- include("./side-panel.ejs") %> 
    <%- include("../../partials/footer.ejs") %>
    <script>
        const adminOpt = document.getElementById("reveal-admin-opt");
        adminOpt.addEventListener("click", function() {
            let revealOptBtn = this.firstElementChild;
            revealOptBtn.classList.toggle("bi-caret-right-fill");
            revealOptBtn.classList.toggle("bi-caret-left-fill");
            document.querySelector("aside").classList.toggle("back-opt");
        })
    </script>
</body>
</html>