<%- include("../../partials/head.ejs") %>
</head>
<body>
    <%- include("../../partials/alert.ejs") %>
    <%- include("../../partials/header.ejs") %>
        <section id="checkout">
            <div class="main-wrapper">
                <form class="checkout-box" action="/" method="post">
                    <div class="left">
                        <h3>Your Shopping Cart</h3>
                        <div class="carted-product">
                            <img src="<%= productDetails.imageMenu %> " alt="product-img">
                            <div class="inner-cart-box">
                                <input type="hidden" name="productImg" value="<%= productDetails.imageMenu %>">
                                <input type="text" name="checkoutProductName" id="checkout-product-name" value="<%= productDetails.productName %>" readonly>
                                <div class="inc-dec-loop">
                                    <div class="inc-dec-cart">
                                        <span> - </span>
                                        <input name="quantity" id="quantity" type="number" value="<%= productDetails.productCount %>" readonly>
                                        <span> + </span>
                                    </div>
                                    <input type="text" name="checkoutPrice" value="<%= productDetails.productPrice %>" id="checkoutPrice" readonly>
                                </div>
                            </div>
                            <div class="remove-product">
                                <a href="/menu/all"><i class="bi bi-x-lg"></i></a>
                            </div>
                        </div>
                        <div class="address-location">
                            <div class="main-info">
                                <div>
                                    <small>Name on Order</small>
                                    <input type="text" name="name" required>
                                </div>
                                <div>
                                    <small>Address</small>
                                    <input type="text" name="address" required>
                                </div>
                            </div>
                            <small>Phone Number</small>
                            <input type="tel" name="phone" pattern="[0-9]{11}" required>
                        </div>
                        <input type="submit" value="Complete Purchase">
                    </div>
                    <div class="right">
                        <h3>Your Card Details</h3>
                        <small style="margin-top: 0px;">Card Type</small>
                        <div class="cards">
                            <img class="selected-card" src="/images/visa.png" alt="visa" title="visa">
                            <img src="/images/mastercard.png" alt="mastercard" title="mastercard">
                            <img src="/images/paypal.png" alt="paypal" title="paypal">
                        </div>
                        <small>Name on Card</small>
                        <input name="cardName" type="text" required>
                        <small>Card Number</small>
                        <input name="cardNumber" type="text" required>
                        <div class="expiry-cvv">
                            <div class="expiry">
                                <small>Expiry Date</small>
                                <input name="expireDate" type="date" required>
                            </div>
                            <div class="cvv">
                                <small>CVV</small>
                                <input name="cvv" type="text" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </header>
    <!-------------------- javascript code not found error start --------------->
    <div hidden class="order-modal">
        <div id="order-modal-close" class="modal-wrapper modal-section inc-dec">
            <span id="discover-machine"></span>
            <input type="hidden" id="price-machine">
            <span></span>
        </div>
    </div>
    <!-------------------- javascript code not found error end ----------------->

    <%- include("../../partials/footer.ejs") %>
    <script>
        const cards = document.querySelectorAll(".right .cards img");

        cards[0].addEventListener("click", function() {
            activeDeactiveCard(0, 1, 2);
            enableDisableInputBox(false);

        })
        cards[1].addEventListener("click", function() {
            activeDeactiveCard(1, 0, 2);
            enableDisableInputBox(false);

        })
        cards[2].addEventListener("click", function() {
            activeDeactiveCard(2, 0, 1);
            enableDisableInputBox(true);
        })

        function activeDeactiveCard(active, deactive1, deactive2) {
            cards[deactive1].classList.remove("selected-card");
            cards[deactive2].classList.remove("selected-card");
            cards[active].classList.add("selected-card");
        }

        const menuForm = document.getElementsByClassName("checkout-box")[0];

        function enableDisableInputBox(bool) {
            for(let i = 8; i < 12; i++) {
                menuForm[i].value = "";
            }
            document.querySelector("input[name='cardName']").disabled = bool;
            document.querySelector("input[name='cardNumber']").disabled = bool;
            document.querySelector("input[name='expireDate']").disabled = bool;
            document.querySelector("input[name='cvv']").disabled = bool;
        }
        
        let totalPrice = document.getElementById("checkoutPrice");
        let quantity = document.getElementById("quantity");
        let price = Number(totalPrice.value.substring(1)) / Number(quantity.value);
        let dec = document.querySelector(".inc-dec-cart span:first-child");
        let inc = document.querySelector(".inc-dec-cart span:nth-child(3)");
    
        inc.addEventListener("click", function() {
            if(Number(quantity.value) < 50) {
                quantity.value = Number(quantity.value) + 1;
                totalPrice.value = "$" + (price * Number(quantity.value)).toFixed(2);
            }
        })

        dec.addEventListener("click", function() {
            if(Number(quantity.value) > 1) {
                quantity.value = Number(quantity.value) - 1;
                totalPrice.value = "$" + (price * Number(quantity.value)).toFixed(2);
            }
        })

    </script>
</body>
</html>