<%- include("../../partials/head.ejs")  %>
</head>
<body>
    <%- include("../../partials/alert.ejs")  %>
    <%- include("../../partials/header.ejs") %>
        <section id="auth" style="height: 200vh">
            <div class="form" style="width: 600px">
                <h2>CREATE PROFILE</h2>
                <div class="change-profile-img">
                    <img
                        class=""
                        id="profilePics"
                        src="<%= user.profilePics %>"
                        alt="profile_pic"
                    />
                    <div class="choose-img">
                        <form
                            action="/uploads/profilePics"
                            class=""
                            id="profilePicsForm"
                            method="post"
                            enctype="multipart/form-data"
                        >
                            <label title="Change Profile Picture" for="profilePicsFile">
                                <i class="bi bi-camera"></i>
                            </label>
                            <input
                                class="profilePicsFile"
                                name="profilePics"
                                type="file"
                                id="profilePicsFile"
                                accept="image/*"
                            />
                        </form>
                    </div>
                </div>
                <input
                    title="Remove current image"
                    id="removeProfilePicsBtn"
                    type="button"
                    value="Remove Image"
                    style="display: <%= (user.profilePics.includes('default.jpg')) ? "none" : "block" %>;"
                />
                <form action="/profile/create-profile" class="input">
                    <div class="inputBox">
                        <label>Name</label>
                        <input class="<%= errors.name && "is-invalid"%>" type="text" name="name" placeholder="Enter name"/>
                        <% if (errors.name) { %>
                            <div class="invalid-feedback">
                                <p><%= errors.name %> </p>
                            </div>
                        <% } %>  
                    </div>
                    <div class="inputBox">
                        <label>Email</label>
                        <input type="email" name="email" value="<%= user.email %>" disabled />
                        <% if (errors.email) { %>
                            <div class="invalid-feedback">
                                <p><%= errors.email %></p>
                            </div>
                        <% } %>  
                    </div>
                    <div class="inputBox">
                        <label>Title</label>
                        <input type="text" name="title" placeholder="Enter a title" />
                    </div>
                    <div class="inputBox">
                        <label>Short Bio</label>
                        <textarea class="<%= errors.bio && "is-invalid"%>" name="bio" id="bio" rows="6" placeholder="Enter a short bio"></textarea>
                        <% if (errors.bio) { %>
                            <div class="invalid-feedback">
                                <p><%= errors.bio %> </p>
                            </div>
                        <% } %>  
                    </div>
                    <div class="inputBox">
                        <label>Website or Social Media</label>
                        <input type="url" class="<%= errors.website && "is-invalid"%>" name="website" id="website" placeholder="Provide url" />
                        <% if (errors.bio) { %>
                            <div class="invalid-feedback">
                                <p><%= errors.bio %> </p>
                            </div>
                        <% } %>  
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Create Profile"/>
                    </div>
                </form>
            </div>
        </section>

    </header>

    <%- include("../../partials/footer.ejs") %>
</body>
</html>