<%- include("../../partials/head.ejs")  %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" integrity="sha512-zxBiDORGDEAYDdKLuYU9X/JaJo/DPzE42UubfBw9yg8Qvb2YRRIQ8v4KsGHOx2H1/+sdSXyXxLXv5r7tHc9ygg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("../../partials/alert.ejs")  %>
    <%- include("../../partials/header.ejs") %>
        <section id="auth" style="min-height: 110vh;">
            <div class="form" style="width: 600px">
                <h2>PROFILE</h2>
                <div class="change-profile-img">
                    <img
                        id="profilePics"
                        src="<%= user.profilePics %>"
                        alt="profile_pic"
                    />
                </div>
                <h3><%= profile.title %></h3>
                <p><%= profile.bio %></p>
                <p class="website-link">
                    <% if(profile.website) { %> 
                        <a target="_blank" href="<%= profile.website %>"><i class="bi bi-google"></i></a>
                    <% } %> 
                </p>
                <a class="edit-profile-link" href="/profile/edit-profile">
                    Edit Profile 
                    <i class="bi bi-pencil"></i>
                </a>
            </div>
        </section>
    </header>

    <%- include("../../partials/footer.ejs") %>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"
        integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
</body>
</html>